div[class*="col-"]{
  /* margin: 5px 0; */
  box-sizing: border-box; 
  /* padding: 0 15px; */
  /* border: 1px solid #111; */
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
}

/* .room-group{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */
.menu-group{
  position: relative;
}
.menu-head{
  width: 100%;
  position: absolute;
  /* position: relative; */
  top: 0;
  background-color: rgb(60, 69, 94,.3);
}

.search-icon{
  width: 50px;
  height: 50px;
  background-color: #fa0;
}

.banner .txt{
  color: #fff;
  position: absolute;
  width: 500px;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.room-group .item{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
.info-group{
  width: 100%;
  background-color: #ddd;
  padding: 0px;
}
.info-group .pic{
  width: 100%;
}
.info-group .txt{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.info-meal .pic{
  width: 100%;
  order: 1;
  box-sizing: border-box;
  padding: 10px;
}
.info-meal .txt{
  width: 100%;
  padding: 10px;
}
.review-group{
  width: 100%;
  height: 300px;
  background-image: url(https://fakeimg.pl/300x200/#555/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  padding: 50px;
  color: #fff;
}
.review-group .bar-wt{
  width: 300px;
  height: 3px;
  background-color: #fff;
  margin: 30px 0px;
}
.gallary .pic{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
iframe{
  width: 100%;
}

.contact-group{
  padding: 50px 0;
  background-color: rgb(60, 69, 94);
  color: #fff;
}
.contact-group h2{
  padding: 10px 0;
}
.menu-foot{
  padding: 20px 0;
  background-color: #eee;
}


.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.666666%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}

@media screen and (min-width: 768px){
.col-md-1{width: 8.333333%;}
.col-md-2{width: 16.666666%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.333333%;}
.col-md-5{width: 41.666666%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.333333%;}
.col-md-8{width: 66.666666%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.333333%;}
.col-md-11{width: 91.666666%;}
.col-md-12{width: 100%;} 
}
.menu-head{
  /* padding: 20px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .head-link{
  padding-right: 200px;
} */
.logo p{
  color: #fff;
  padding-left: 30px;
}

.head-link a{
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
}



.room-group{
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  max-width: 1200px;
  /* justify-content: center; */
  margin: auto;
}
.gallary{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu-foot{
  font-size: 11px;
  display: flex;
  color: #888;
  justify-content: space-between;
}

.foot-link a{
  color: #888;
  padding: 0 10px;
}

@media screen and (min-width: 992px){
.col-lg-1{width: 8.333333%;}
.col-lg-2{width: 16.666666%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.333333%;}
.col-lg-5{width: 41.666666%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.333333%;}
.col-lg-8{width: 66.666666%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.333333%;}
.col-lg-11{width: 91.666666%;}
.col-lg-12{width: 100%;}

.info-group{
  display: flex;
}
.info-group .pic, .info-group .txt{
  width: 50%;
} 
.info-group:nth-child(1) .pic{
  order:1;
}
.info-meal{
  display: flex;
}
.review-group{
  display: flex;
}


@media screen and (min-width: 1200px){
.col-xl-1{width: 8.333333%;}
.col-xl-2{width: 16.666666%;}
.col-xl-3{width: 25%;}
.col-xl-4{width: 33.333333%;}
.col-xl-5{width: 41.666666%;}
.col-xl-6{width: 50%;}
.col-xl-7{width: 58.333333%;}
.col-xl-8{width: 66.666666%;}
.col-xl-9{width: 75%;}
.col-xl-10{width: 83.333333%;}
.col-xl-11{width: 91.666666%;}
.col-xl-12{width: 100%;} 
}